*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #baddfdaf;
  min-height: 100vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  
}
.container{
  margin: auto;
  width: 600px;
  height: 500px;
}
.head{
  background-color: #7979f1;
  padding: 20px 25px;
  justify-content: space-between;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
}
.head-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.head-title::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  font-size: bold;
}
.date{
  padding: 20px 15px;
  background-color: #fff;
  align-items: center;
}
.line{
  height: 1px;
  width: 235px;
 background-color: #000;
 opacity: 0.2;

}
.date-text{
  text-align: center;
  align-items: center;
  opacity: 0.2;
  margin-right: 20px;
  margin-left: 20px;
}
.messages{
  padding: 20px 15px;
  background-color: #fff;
}
.messages-list{
  list-style: none;
  padding: 0px 20px;
}
.time{
  margin-bottom: 10px;
}
.text{
  padding: 10px 30px 10px 10px;
  font-size: 20px;
  border-radius: 5px;
}
.text:nth-child(1){
  background-color: #a1d4d263;
}
.list-item{
  
  margin-bottom: 20px;
 
}
.list-item:nth-child(2n){
  margin-left: auto;
}
.list-item:nth-child(2) .text{
  background-color: rgb(221, 215, 215);
  width: 330px;
  margin-left: auto;
}
.list-item:nth-child(1) .text{
  width: 330px;
}
.list-item:nth-child(3) .text{
  width: 120px;
}
.list-item:nth-child(2n-1) .text{
  background-color: #a1d4d263;
}

.list-item:nth-child(4) .text{
   background-color: rgb(247, 199, 207);
   width: 270px;
   margin-left: auto;
}
.list-item:nth-child(2n) .time{
  text-align: end;
}
.form{
  background-color: #fff;
  padding: 0px 25px 20px 25px;
  align-items: center;
  justify-content: space-between;
}
.input{
  border: none;
  font-weight: bold;
  outline: none;
  opacity: 0.5;
}
button{
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  color: #6eb7ff;
  border: none;
}
